@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This is a web app to visualize the relationships for tags from stack overflow data dump. Please contact qizh at outlook.com for details.</p>
